body {
  font-family: 'Open Sans', sans-serif;
  /* display: table; */
  width: 100%;
  overflow: hidden;
}

.logo-page img {
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
}

.title-page {
  padding: 15px 0px 6px 10px;
  margin-top: 60px;
}

.title-page-img {
  display: block;
  width: 500px;
  height: 175px;
  margin: auto;
}

.title-page h3 {
  text-align: center;
  color: #424141;
}

.title-page h4 {
  margin-top: 50px;
  text-align: center;
  color: #424141;
  font-family: sans-serif;
}

.title-page h6 {
  text-align: center;
  color: #888888;
  font-size: small;
  font-family: sans-serif;
}

.sign-google {
  margin-right: -15px;
  height: 768px;
  padding: 30px;
  background: linear-gradient(90deg, rgba(115, 169, 238, 1) 33%, rgba(88, 142, 212, 1) 100%);
}

.sign-google span {
  margin-top: 300px;
  text-align: center;
  display: block;
  color: white;
}



/* Responsive Style */

/* Mobile */
@media(max-width: 992px) {
  body {
    overflow: auto;

  }

  .logo-page img {
    height: 40px;
  }

  .title-page {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .title-page-img {
    width: 300px;
    height: 120px;
  }

  .title-page h3 {
    font-size: large;
  }

  .title-page h4 {
    margin-top: 25px;
    font-size: medium;
  }

  .title-page h6 {
    font-size: small;
    padding: 0px 25px 0px 25px;
  }

  .sign-google {
    margin-left: -15px;
    padding: 40px;
    height: 300px;
  }

  .sign-google span {
    font-size: small;
    margin: auto;
  }

  .sign-google a {
    font-size: small;
    padding: 15px;
  }

  .sign-google a img {
    width: 20px;
    float: left;
    margin-right: 5px;
  }
}